@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
body {
     font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}
article {
    width: 50%;
    padding-left: 5px;
    padding-top: 5px;
}
aside {
    background-color: black;
    width: 50%;
    color: white;
    border: gray 5px solid;
}
main {
    display: flex;
}
.logo {
    width: 50%;
    margin-left: 20px;
}
.menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;  
}
.list {
    line-height: 3rem;
    padding: 0px 10px   ;
} 
a {
    text-decoration: none;
    color: white;
}
.card {
    height: 200px;
    width: 300px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.card-top {
    background-color: gray;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card-bottom {
    color: black;
    padding: 5px;
}
.card-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
@media screen and (max-width: 1280px) {
    main {
        display: flex;
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
    article {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu {
        width: 100%;
        border-bottom: 1px white solid;
        display: flex;
        flex-direction: column;
    }
    li {
        border-bottom: 1px white solid;
        border-top: 1px white solid;
        height: 40px;
        display: flex;
        align-content: center;
    }
    .card {
        width: 100%;
    }
}